[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pydub = "*"
pytest = "*"
python-dateutil = "*"
mutagen = "*"
"bs4" = "*"
requests = "*"
click = "*"
sentry-sdk = "*"


[dev-packages]



[requires]

python_version = "2.7"
